.player-area{
  background-color: beige;
  text-align: center;
  border:dotted black 2px;
  padding:15px;
}

.score{
  text-align: left;
  font-weight: bold;
}

/*.btn{
  float:right;
}*/

.player-area{
  display:none;
}

.btn-lg {
  margin-top: 50px;
  font-size: 196px;
}

.startGame {
  height: 400px;
  text-align: center;
}
#play-button{
  float: none;
}

.row {
  margin-top: 110px;
}
